## BPR-Netflix

In [1]:
#%load_ext watermark
%load_ext autoreload 
%autoreload 2

In [2]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from subprocess import call
from bpr_module import *

In [27]:
#pyarrow: efficeint loading of parquet
# trim top 100 users
# very simple 10 by 10 matrix to demonstrate scalability

In [4]:
fdir = 'Top10PctUsers_Top10PctProducts_Clicks_2023_01_05'
df = pd.read_parquet(os.path.join(os.path.join('../', fdir,'BPR_0005_part_00.parquet')))

In [5]:
df.shape

(4587909, 19)

(4587909, 19)

In [6]:
df.title.nunique(), df.product_id.nunique(), df.product_id.nunique(), df.user_id.nunique()

(11312, 11401, 11401, 350388)

(11312, 11401, 11401, 350388)

In [7]:
df.seller_id.nunique(), df.store_id.nunique()

(3273, 4214)

(3273, 4214)

In [8]:
df.groupby(by='product_type')['product_id'].count().sort_values(ascending=True)

product_type
eleveneleven_checkbookcover          5
manualww_dogbed                      6
zazzle_facemaskcotton                7
imprue_shinyembsealhudsons           9
makeaball_softball                  12
                                ...
zazzle_postcard2                139834
zazzle_shirt                    175050
zazzle_foldedgreetingcard       196746
zazzle_businesscard             256662
zazzle_invitation3             1003873
Name: product_id, Length: 375, dtype: int64

product_type
eleveneleven_checkbookcover          5
manualww_dogbed                      6
zazzle_facemaskcotton                7
imprue_shinyembsealhudsons           9
makeaball_softball                  12
                                ...
zazzle_postcard2                139834
zazzle_shirt                    175050
zazzle_foldedgreetingcard       196746
zazzle_businesscard             256662
zazzle_invitation3             1003873
Name: product_id, Length: 375, dtype: int64

In [9]:
df.click_created.min(), df.click_created.max()

(Timestamp('2021-08-03 00:26:09.402000'),
 Timestamp('2023-01-03 23:53:58.929000'))

(Timestamp('2021-08-03 00:26:09.402000'),
 Timestamp('2023-01-03 23:53:58.929000'))

In [18]:
active_users = df.user_id.value_counts().sort_values(ascending=False).index.values[:10]
active_users

array(['3acddad7-6950-4dc7-8433-f64300bfeb99',
       '63d2aa9c-6d7c-4263-8884-651682da6dff',
       'fa4dde1e-626c-43a4-8655-0e166e7a9309',
       'ba469d9d-ba0d-45c5-9e14-8bc961df1fad',
       '522d9a35-fcea-46d7-bcfc-ff827c49bb72',
       '30bed27d-ab7f-4361-a0cc-4a99e7f62a21',
       '5df6417e-b02b-475e-ad4a-ef7ae561da1c',
       '277bf6da-5a89-4980-90a8-20ef1dab2051',
       'f9f68f1c-4478-47f5-8e6d-003c49e12f54',
       '7e51968a-0850-49e9-8536-6c3b702f1d0c'], dtype=object)

array(['3acddad7-6950-4dc7-8433-f64300bfeb99',
       '63d2aa9c-6d7c-4263-8884-651682da6dff',
       'fa4dde1e-626c-43a4-8655-0e166e7a9309',
       'ba469d9d-ba0d-45c5-9e14-8bc961df1fad',
       '522d9a35-fcea-46d7-bcfc-ff827c49bb72',
       '30bed27d-ab7f-4361-a0cc-4a99e7f62a21',
       '5df6417e-b02b-475e-ad4a-ef7ae561da1c',
       '277bf6da-5a89-4980-90a8-20ef1dab2051',
       'f9f68f1c-4478-47f5-8e6d-003c49e12f54',
       '7e51968a-0850-49e9-8536-6c3b702f1d0c'], dtype=object)

In [25]:
df.loc[df.user_id==active_users[0],['title', 'click_created']].iloc[:10000]

,title,click_created
295997,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
295998,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
295999,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
296000,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
296001,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
...,...,...
309457,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309458,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309459,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309460,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309461,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628

,title,click_created
295997,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
295998,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
295999,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
296000,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
296001,Pride Inclusive rainbow Lgbtq gay flag pin button,2022-10-25 12:00:54.566
...,...,...
309457,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309458,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309459,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309460,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628
309461,Pride Flag Reboot - trans and POC inclusive,2022-10-31 12:50:56.628

In [ ]:
df_movie = pd.read_csv(os.path.join(os.path.join('archive','Netflix_Dataset_Movie.csv')))
print('data dimension: \n', df_movie.shape)
df_movie.head()

In [ ]:
df_movie.Year.unique()

In [ ]:
df_rating = pd.read_csv(os.path.join(os.path.join('archive','Netflix_Dataset_Rating.csv')))
print('data dimension: \n', df_rating.shape)
df_rating.head()

In [ ]:
df_rating.Rating.unique(), df_rating.User_ID.nunique()

In [ ]:
idf = df_rating.groupby(by='User_ID').count()['Rating'].sort_values(ascending=False)
# print(idf)
fig,ax = plt.subplots(figsize=(5,3))
idf.hist(bins=100,density=True,range=(0,500), ax=ax)
ax.set_xlabel('Number of interactions')

In [ ]:
movies_to_consider = df_movie.loc[df_movie['Year'] == 2005, 'Movie_ID']
df = df_rating[df_rating['Movie_ID'].isin(movies_to_consider)]
#df = df[df['']]

In [ ]:
df.shape[0]*100/df_rating.shape[0]

In [ ]:
df.head()

In [ ]:
idf = df.groupby(by='User_ID').count()['Rating'].sort_values(ascending=False)
# print(idf)
# fig,ax = plt.subplots(figsize=(5,3))
# idf.hist(bins=100,density=True,range=(-1,100), ax=ax)
# ax.set_xlabel('Number of interactions')

In [ ]:
df.columns

In [ ]:
#df = df.loc[df['User_ID'].isin((idf > 2).index,:]

In [ ]:
items_col = 'Movie_ID'
users_col = 'User_ID'
ratings_col = 'Rating'
threshold = 3
X, df_new = create_matrix(df, users_col, items_col, ratings_col, threshold)
#print(X)
#df_new['movie_title'] = df_item.loc['']
X_dense = X.todense()
print(X_dense.shape, np.sum(X_dense)*100/X_dense.size)

In [ ]:
df_new

In [ ]:
df_new.head()

In [ ]:
X_dense[:10,:10]

In [ ]:
df[df.User_ID==2187374].sort_values(by='Movie_ID').iloc[:10]

In [ ]:
# split into test and train
X_train, X_test = create_train_test(X, test_size = 0.2, seed = 1234)
X_train_dense = X_train.todense().astype(int)
X_test_dense = X_test.todense().astype(int)

In [ ]:
X_train.shape, X_test.shape

In [ ]:
X_dense[:10,:10], X_train_dense[:10,:10], X_test_dense[:10,:10]

In [ ]:
np.allclose(X_dense, X_train_dense+X_test_dense)

In [ ]:
# df_temp = df.groupby('User_ID').min().reset_index()
# df_temp['test_ratio'] = np.asarray(np.sum(X_test_dense, axis=1)/np.sum(X_dense, axis=1)).flatten()
# df_check = df_new.merge(df_temp[['User_ID', 'test_ratio']], on='User_ID', how='inner')
# df_check.groupby(by='User_ID')['test_ratio'].min()

In [ ]:
# parameters were randomly chosen
bpr_params = {
    'reg': 0.01,
    'learning_rate': 0.1,
    'n_iters': 50,
    'n_factors': 5,
    'batch_size': 50
}
bpr = BPR(**bpr_params)
bpr.fit(X_train)

In [ ]:
print(auc_score(bpr, X_train))
print(auc_score(bpr, X_test))

In [ ]:
X_recommend = bpr.recommend(X, 3)
X_recommend.shape

In [ ]:
ith_user = 980
this_user = df_new.User_ID.unique()[ith_user]
idf = df_new[df_new['User_ID'] == this_user]
idf

In [ ]:
df_movie.loc[df_movie.Movie_ID.isin(list(idf.Movie_ID)),['Movie_ID','Name']]

In [ ]:
df_movie.loc[df_movie.Movie_ID.isin(X_recommend[ith_user-1,:]),'Name']

In [ ]:
df.User_ID.unique()[:10]

In [ ]:
Xsim = bpr.get_similar_items(N = 6)
Xsim.shape

In [ ]:
X_

In [ ]:
df_item[df_item['movie_id'].isin(Xsim[3,:])]